{% block partitech_afb_grapesarea_newsletter_widget %}

    {{ dump(form.vars.newsletter_images) }}



    {% block stylesheets -%}
        <!--
        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/grapesjs/grapesjs.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/grapesjs/grapesjs-preset-webpage.min.css') }}"/>


        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/font-awesome.min.css?v0.20.1') }}"/> -->
        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/grapesjs/grapes.min.css?v0.20.1') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/grapesjs/material.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/grapesjs/tooltip.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/grapesjs/toastr.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/grapesjs/grapesjs-preset-newsletter.css?v=0.2.21') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/partitechadvancedform/css/partitech-adf-grapes-area.css?v2') }}"/>




        <style>
            .gjs-editor-cont {
                height: 1200px;
                /*overflow: hidden;*/
                width: auto;
            }

            .gjs-block {
                cursor: all-scroll;
                font-size: 11px;
                font-weight: bolder;
                text-align: center;
            }


        </style>
    {%- endblock %}
    {% block javascripts -%}
        <!--<script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/grapes.js') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/grapesjs-preset-webpage.min.js') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/cmf_grapes.js') }}"></script>-->

        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/aviary.js') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/grapes.min.js?v0.20.1') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/ckeditor.js') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/grapesjs-plugin-ckeditor.min.js') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/grapesjs-preset-newsletter.min.js?v=0.2.21') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/grapesjs-aviary.min.js') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/toastr.min.js') }}"></script>
        <script src="{{ asset('bundles/partitechadvancedform/js/grapesjs/ajaxable.min.js') }}"></script>


        <!--
https://grapesjs.com/docs/modules/Storage.html#common-use-cases
#Inline project data
-->
        <script type="text/javascript">
            /*jQuery(function ($) {
                $('#{{ id }}-partitech-adf-grapes-area').cmfGrapes({
                    grapes_options: {
                        style: '.txt-red{colo:red}',
                        plugins: ['gjs-preset-webpage'],
                        pluginsOpts: {
                            'gjs-preset-webpage': {
                                // options
                            }
                        }
                    },
                    simple_form_content: {
                        formId: '{{ id }}'
                    }
                });
            });*/
        </script>

    {%- endblock %}




    <div id="{{ id }}-partitech-adf-grapes-area-data" style="display: none">
        {{ form_widget(form) }}
        <input type="hidden" name="{{ form.vars.id }}-html" id="{{ form.vars.id }}-html">

    </div>

    <div id="{{ id }}-partitech-adf-grapes-area" class="gjs-editor-cont" ></div>




    <script type="text/javascript">


        var newsletter_host="{{ newsletter_host }}";
        var newsletter_subject="{{ newsletter_subject }}";
        var newsletter_trackingCode="{{ newsletter_trackingCode }}";
        var newsletter_inline_style="{{ newsletter_inline_style }}";


        function load_am_config(assetManagerConfig){
            assetManagerConfig.upload="/admin/app/newsletter/$current_id/uploadNewsletter/";
            //assetManagerConfig.dropzone=1;
            assetManagerConfig.multiUpload=true;
            console.log(assetManagerConfig);
        }


        function load_blocs(blockManager) {

            {% for i, bloc in form.vars.newsletter_blocs %}

            blockManager.add('Layout-global-{{ i }}', {
                label: '{{ bloc.label|escape }}',
                category: '{{ bloc.category|escape }}',
                content: '{{ bloc.content|raw}}',
                attributes: {
                    class: '{{ bloc.class|escape }}'
                }
            });

            {% endfor %}
        }





        function load_assets(assetManager){
            {% for image in form.vars.newsletter_images %}

                {% if image is iterable %}
                    assetManager.add([
                        {
                            src: '{{ image.src }}',
                            height: '{{ image.height }}',
                            width: '{{ image.width }}',
                            name: '{{ image.name }}'
                        }
                    ]);
                {% else %}
                    assetManager.add([ {src: '{{ image}}'}]);
                {% endif %}
            {% endfor %}
        }

        function sendTestNewsletter()
        {
            var email=jQuery('#testNlEmail').val();
            var subject=jQuery('#testNlSubject').val()
            if(email.length && subject.length)
            {
                jQuery('#testNlEmail').removeClass('error');
                jQuery('#testNlSubject').removeClass('error');

                $.post("/admin/app/newsletter/$current_id/testNewsletter/", {email:jQuery('#testNlEmail').val(), subject:jQuery('#testNlSubject').val(), content:jQuery('#testNlContent').val()}, function(response){});
            }else{
                if(!email.length){
                    jQuery('#testNlEmail').addClass('error');
                }

                if(!email.length){
                    jQuery('#testNlSubject').addClass('error');
                }
            }
        }







        const formElement = document.querySelector('form[role="form"]');
        let isDefaultPrevented = false;
        formElement.addEventListener('submit', event => {
            if (!isDefaultPrevented) {
                event.preventDefault(); // Empêche le comportement par défaut (soumission)
                isDefaultPrevented = true;

                const projectDataEl = $("#{{ form.vars.id }}")[0];
                const projectHtmlEl = $("#{{ form.vars.id }}-html")[0];
                //console.log(`HTML: ${projectHtmlEl.value}\n------\nDATA: ${projectDataEl.value}`);
                //add generated html in the json string in order to store it in db.
                //content can then be used serverside without JS processing.
                const projectData=JSON.parse(projectDataEl.value || '{}');
                projectData.dataHtml=projectHtmlEl.value;
                $("#{{ form.vars.id }}").val(JSON.stringify(projectData));

                formElement.submit();
            } else {
                isDefaultPrevented = false;
            }
        });



        // Inline storage

        const partitech_afb_grapesarea_Storage = (editor) => {
            const projectDataEl = $("#{{ form.vars.id }}")[0];
            const projectHtmlEl = $("#{{ form.vars.id }}-html")[0];

            editor.Storage.add('partitech-afb-grapesarea', {
                load() {
                    return JSON.parse(projectDataEl.value || '{}');
                },
                store(data) {
                    const component = editor.Pages.getSelected().getMainComponent();
                    projectDataEl.value = JSON.stringify(data);
                    projectHtmlEl.value = `<html>
          <head>
            <style>${editor.getCss({ component })}</style>
          </head>
          ${editor.getHtml({ component })}
        <html>`;

                }
            });
        };


        var host = '//artf.github.io/grapesjs/';
        var images = [];




        // Set up GrapesJS editor with the Newsletter plugin
        var editor = grapesjs.init({
            clearOnRender: true,
            height: '1200px',
            storageManager: { type: 'partitech-afb-grapesarea' },
            //storageManager: { type: 'partitech-afb-grapesarea' },
            assetManager: {
                assets: images,
                upload: 0,
                uploadText: 'Uploading is not available in this demo',
            },
            container : '#{{ id }}-partitech-adf-grapes-area',
            fromElement: true,
            //plugins: ['gjs-preset-newsletter', 'gjs-plugin-ckeditor', partitech_afb_grapesarea_Storage],
            plugins: ['gjs-preset-newsletter', 'gjs-plugin-ckeditor', partitech_afb_grapesarea_Storage],
            pluginsOpts: {
                'gjs-preset-newsletter': {
                    modalLabelImport: 'Paste all your code here below and click import',
                    modalLabelExport: 'Copy the code and use it wherever you want',
                    codeViewerTheme: 'material',
                    //defaultTemplate: templateImport,
                    importPlaceholder: '<table class="table"><tr><td class="cell"><span>Hello world!!</span></td></tr></table>',
                    cellStyle: {
                        'font-size': '12px',
                        'font-weight': 300,
                        'vertical-align': 'top',
                        color: 'rgb(111, 119, 125)',
                        margin: 0,
                        padding: 0,
                    }
                },
                'gjs-plugin-ckeditor': {
                    position: 'center',
                    options: {
                        startupFocus: true,
                        extraAllowedContent: '*(*);*{*}', // Allows any class and any inline style
                        allowedContent: true, // Disable auto-formatting, class removing, etc.
                        enterMode: CKEDITOR.ENTER_BR,
                        extraPlugins: 'sharedspace,justify,colorbutton,panelbutton,font',
                        toolbar: [
                            { name: 'styles', items: ['Font', 'FontSize' ] },
                            ['Bold', 'Italic', 'Underline', 'Strike'],
                            {name: 'paragraph', items : [ 'NumberedList', 'BulletedList']},
                            {name: 'links', items: ['Link', 'Unlink']},
                            {name: 'colors', items: [ 'TextColor', 'BGColor' ]},
                        ],
                    }
                }
            }
        });


        // Let's add in this demo the possibility to test our newsletters
        var mdlClass = 'gjs-mdl-dialog-sm';
        var pnm = editor.Panels;
        var cmdm = editor.Commands;
        var md = editor.Modal;

        var newsletter_trackingCode=false


        cmdm.add('download-html', {
            run(editor, sender) {
                var html = editor.runCommand('gjs-get-inlined-html');

                if (newsletter_trackingCode) {
                    html="<!DOCTYPE html><html lang='fr'><head>"+newsletter_trackingCode+"<title></title>"+newsletter_inline_style+"</head><body>"+html+"</body></html>";
                } else {
                    html="<!DOCTYPE html><html lang='fr'><head><title>"+newsletter_subject+"</title>"+newsletter_inline_style+"</head><body>"+html+"</body></html>";
                }

                var a         = document.createElement('a');
                a.href        = 'data:attachment/html,' + encodeURIComponent(html);
                a.target      = '_blank';
                a.download    = newsletter_subject+'.html';
                document.body.appendChild(a);
                a.click();
            }
        });


        pnm.addButton('options', {
            id: 'download-html',
            className: 'fa fa-file-code-o',
            command: 'download-html',
            attributes: {
                'title': 'Télécharger le fichier html',
                'data-tooltip-pos': 'bottom',
            },
        });









        /*
        var testContainer = document.getElementById("test-form");
        var contentEl = testContainer.querySelector('input[name=body]');
        cmdm.add('send-test', {
          run(editor, sender) {
            sender.set('active', 0);
            var modalContent = md.getContentEl();
            var mdlDialog = document.querySelector('.gjs-mdl-dialog');
            var cmdGetCode = cmdm.get('gjs-get-inlined-html');
            contentEl.value = cmdGetCode && cmdGetCode.run(editor);
            mdlDialog.className += ' ' + mdlClass;
            testContainer.style.display = 'block';
            md.setTitle('Test your Newsletter');
            md.setContent('');
            md.setContent(testContainer);
            md.open();
            md.getModel().once('change:open', function() {
              mdlDialog.className = mdlDialog.className.replace(mdlClass, '');
              //clean status
            })
          }
        });
        pnm.addButton('options', {
          id: 'send-test',
          className: 'fa fa-paper-plane',
          command: 'send-test',
          attributes: {
            'title': 'Test Newsletter',
            'data-tooltip-pos': 'bottom',
          },
        });

        var statusFormElC = document.querySelector('.form-status');
        var statusFormEl = document.querySelector('.form-status i');
        var ajaxTest = ajaxable(testContainer).
          onStart(function(){
            statusFormEl.className = 'fa fa-refresh anim-spin';
            statusFormElC.style.opacity = '1';
            statusFormElC.className = 'form-status';
          })
          .onResponse(function(res){
            if (res.data) {
              statusFormElC.style.opacity = '0';
              statusFormEl.removeAttribute('data-tooltip');
              md.close();
            } else if(res.errors || res.errors == '') {
              var err = res.errors || 'Server error';
              statusFormEl.className = 'fa fa-exclamation-circle';
              statusFormEl.setAttribute('data-tooltip', err);
              statusFormElC.className = 'form-status text-danger';
            }
          });
        */

        // Add info command
        var infoContainer = document.getElementById("info-panel");
        cmdm.add('open-info', {
            run: function(editor, sender) {
                sender.set('active', 0);
                var mdlDialog = document.querySelector('.gjs-mdl-dialog');
                mdlDialog.className += ' ' + mdlClass;
                infoContainer.style.display = 'block';
                md.setTitle('About this demo');
                md.setContent('');
                md.setContent(infoContainer);
                md.open();
                md.getModel().once('change:open', function() {
                    mdlDialog.className = mdlDialog.className.replace(mdlClass, '');
                })
            }
        });
        pnm.addButton('options', [{
            id: 'undo',
            className: 'fa fa-undo',
            attributes: {title: 'Undo'},
            command: function(){ editor.runCommand('core:undo') }
        },{
            id: 'redo',
            className: 'fa fa-repeat',
            attributes: {title: 'Redo'},
            command: function(){ editor.runCommand('core:redo') }
        },{
            id: 'clear-all',
            className: 'fa fa-trash icon-blank',
            attributes: {title: 'Clear canvas'},
            command: {
                run: function(editor, sender) {
                    sender && sender.set('active', false);
                    if(confirm('Are you sure to clean the canvas?')){
                        editor.DomComponents.clear();
                        setTimeout(function(){
                            localStorage.clear()
                        },0)
                    }
                }
            }
        },{
            id: 'view-info',
            className: 'fa fa-question-circle',
            command: 'open-info',
            attributes: {
                'title': 'About',
                'data-tooltip-pos': 'bottom',
            },
        }]);

        // Simple warn notifier
        var origWarn = console.warn;
        toastr.options = {
            closeButton: true,
            preventDuplicates: true,
            showDuration: 250,
            hideDuration: 150
        };
        console.warn = function (msg) {
            toastr.warning(msg);
            origWarn(msg);
        };

        // Beautify tooltips
        var titles = document.querySelectorAll('*[title]');
        for (var i = 0; i < titles.length; i++) {
            var el = titles[i];
            var title = el.getAttribute('title');
            title = title ? title.trim(): '';
            if(!title)
                break;
            el.setAttribute('data-tooltip', title);
            el.setAttribute('title', '');
        }


        const blockManager = editor.BlockManager;
        const assetManager = editor.AssetManager;
        const assetManagerConfig = editor.AssetManager.getConfig();


        // Do stuff on load
        editor.on('load', function() {
            //alert('sdfsdf');
            var $ = grapesjs.$;

            //load all blocs and assets
            load_blocs(blockManager);
            load_assets(assetManager);

            assetManagerConfig.upload="/admin/app/newsletter/{{ id }}/uploadNewsletter/";
            assetManagerConfig.dropzone=1;
            assetManagerConfig.multiUpload=true;

            //load configuration for assets (ie. upload path)



            //Open all catégories
            editor.BlockManager.getCategories().each(ctg => ctg.set('open', false));

            //add styles
            styleManager = editor.StyleManager;
            fontProperty = styleManager.getProperty('typography', 'font-family');
            var list = [];
            fontProperty.set('list', list);
            list = [
                fontProperty.addOption({value: "'Overlock', cursive;", name: 'Overlock'}),
                fontProperty.addOption({value: "'Ubuntu', sans-serif;", name: 'Ubuntu'}),
                fontProperty.addOption({value: "'Raleway', sans-serif;", name: 'Raleway'}),
                fontProperty.addOption({value: "'EB Garamond', serif;", name: 'EB Garamond'}),
                fontProperty.addOption({value: "'Overlock', cursive", name: 'Overlock'}),
                fontProperty.addOption({value: "'Rubik', sans-serif", name: 'Rubik'}),
            ];
            fontProperty.set('list', list);
            styleManager.render();
        });

        editor.on('asset:upload:response', (response) => {
            var result = JSON.parse(response);
            editor.AssetManager.add(result.data);
            editor.AssetManager.store();
        });

    </script>
{% endblock %}
